<h1>{{people.name}}'s Profile</h1>

<form class="" action="/people/{{people.id}}/profile/update" method="POST">
    <label for="name">Name: </label>
    <input type="text" name="name">
    <br>
    <input type="submit" value="Update This User">
</form>

<h2>Tasks for {{people.name}}</h2>

<ul>
    {{#each people.Tasks}}
        <li>
            {{this.task}}
        </li>
    {{/each}}
</ul>

<h3>
    <a href="/">Home</a>
</h3>
